body {
    color: #fff;
    background-color: rgb(41, 41, 41);
    font-family: sans-serif;
}

h1, h2 {
    font-family: sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
    font-family:monospace;
}

a:hover {
    color: green;
    font-weight: bold;
    background-color: #fff
}

img {
    border-radius: 10%;
}

.foto {
   max-width: 30%;
   min-width: 250px;
}

.texto {
    max-width: 69%;       
}

.bloco {
    margin: auto;
    padding: 20px;
}

.linha {
    display: inline-block;
    vertical-align: top;  
}

.lista {
    width: 49%;
}

.blog {
    width: 49%;
}